<app-header></app-header>
<div class="container bg-white masterdiv">
    <div class="d-flex mt-3">
        <aside>
            <div class="videoScroll overflow-auto position-relative">
                <div *ngFor="let data of youtubeData ; let i=index">
                    <video type="video/mp4" src={{data.url}}  (click)="playingVideo(i)" [autoplay]=false
                        [muted]="true" class="rounded-4"></video>
                        <b class="ms-2 text-wrap text-black ">{{data.desc}}  </b> <hr>
                </div>
            </div>
        </aside>
        <div *ngIf="streamingVideo" class="ms-5">

            <video type="video/mp4" src={{streamingVideo.url}} controls  class="forLargevideo"></video>
            <div class="mb-5">
                <h5 class="ms-2">{{streamingVideo.desc}} | {{streamingVideo.Director}} | {{streamingVideo.Singer}}</h5>
                <i class="float-end">For more Details <button class="btn btn-outline-warning"
                         (click)="videoDetails(streamingVideo)">Click Here</button> </i>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>


